{% extends 'base.html.twig' %}

{% block body %}
    <h1>Childaccount</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ childAccount.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ childAccount.code }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ childAccount.name }}</td>
            </tr>
            <tr>
                <th>Purpose</th>
                <td>{{ childAccount.purpose }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('childaccount_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('childaccount_edit', { 'id': childAccount.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
