{% extends 'base.html.twig' %}

{% block body %}
    <h1>Incomes list</h1>

    <table>
        <thead>
            <tr>
                <th>Cashentry</th>
                <th>Entryreason</th>
                <th>Amount</th>
                <th>Briefdescription</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for income in incomes %}
            <tr>
                <td><a href="{{ path('income_show', { 'id': income.id }) }}">{{ income.cashEntry }}</a></td>
                <td>{{ income.entryReason }}</td>
                <td>{{ income.amount }}</td>
                <td>{{ income.briefDescription }}</td>
                <td>{{ income.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('income_show', { 'id': income.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('income_edit', { 'id': income.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('income_new') }}">Create a new income</a>
        </li>
    </ul>
{% endblock %}
