{% extends 'layout2.html.twig' %}

{% block body %}
  <div class="page-content">
        <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
        <div id="portlet-config" class="modal hide">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button"></button>
                <h3>Widget Settings</h3>
            </div>
            <div class="modal-body"> Widget settings form goes here</div>
        </div>
        <div class="clearfix"></div>
        <div class="content">

        <div class="page-title">
            <h3>Gastos</h3>
        </div>

        <div class="add-new">
            <a href="{{ path('expenditure_new') }}" title=""><i class="fa fa-plus"><span id="icon-new">Crear Cuenta de Gastos</span></i></a>
        </div>

        <table class="table table-hover no-more-tables">
        
            <thead>
                <tr>
                    <th>#</th>
                    <th>Cuenta de Gasto</th>
                    <th>Planificado</th>
                    <th>Total de Gasto</th>
                    <th>Total de Excedente</th>
                    <th>SubTotal de Excedente</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            {% for expenditure in expenditures %}
            <tbody>
                <tr>
                    <td>{{ expenditure.id }}</td>
                    <td>{{ expenditure.expenditureAccount }}</td>
                    <td>{{ expenditure.planned }}</td>
                    <td>{{ expenditure.totalExpenditure }}</td>
                    <td>{{ expenditure.totalExcessive }}</td>
                    <td>{{ expenditure.subTotalExcessive }}</td>
                    <td><a href="{{ path('expenditure_edit',{ 'id':expenditure.id }) }}"><i class="fa fa-pencil" id="edit_pencil"></i></a>

                    <a href="{{ path('expenditure_delete',{ 'id':expenditure.id }) }}"><i class="fa fa-times" id="delete_times"></i></a>
                    </td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
        
        </div>
    </div>
{% endblock %}
