{% set active = 'plan financiero' %}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Income</h1>

    <table>
        <tbody>
            <tr>
                <th>Cashentry</th>
                <td>{{ income.cashEntry }}</td>
            </tr>
            <tr>
                <th>Entryreason</th>
                <td>{{ income.entryReason }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ income.amount }}</td>
            </tr>
            <tr>
                <th>Briefdescription</th>
                <td>{{ income.briefDescription }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ income.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('income_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('income_edit', { 'id': income.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
